@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html,body {
  overflow: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
  z-index: 1000;
  transition: 0.6s;
}

header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
  margin-top: -20px;
}

header .logo img {
  max-width: 90px;
  mix-blend-mode: hard-light;
}

header #toggle {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

header #toggle:before {
  content: '';
  position: absolute;
  top: 7px;
  width: 100%;
  height: 2px;
  background: #fff;
}

header #toggle:after {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 100%;
  height: 2px;
  background: #fff;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(17, 17, 17);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  transition: 0.5s;
  z-index: 2;
}

.banner.active header #toggle:before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.banner.active header #toggle:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.banner.active {
  transform: translateX(-400px);
}

#navigation {
  position: fixed;
  top: 0;
  right: -200px;
  width: 400px;
  height: 100vh;
  background: #f06292;
  z-index: 1;
  display: grid;
  place-items: center;
  transition: 0.5s;
}

#navigation.active {
  right: 0;
}

#navigation ul {
  position: relative;
  display: flex;
  flex-direction: column;
}

#navigation ul li {
  list-style: none;
}

#navigation ul li a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  font-weight: 000;
  text-transform: uppercase;
}

#home {
  width: 100%;
  height: 85vh;
  margin-top: 115px;
  background: #f06292;

  position: relative;

  display: flex;
  align-items: flex-end;
}

#home h2 {
  color: #fff;
  font-size: 2em;
  margin-bottom: 20px;
}

#home p {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
  margin-bottom: 20px;
}

#home h2 span {
  color: #40c3ff;
  font-size: 1.2em;
}

#home a {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  background: #fff;
  color: #000;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
}

#home:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: url('../images/Aesthetic-Pool.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

.avatar {
  z-index: 1;
  height: 100%;
}

.avatar img {
  display: block;
  max-height: 100%;
  width: auto;
}

.home-card {
  background: #0a0a0a;
  padding: 50px 30px;
  z-index: 1;
  flex-basis: 50%;
  margin-left: -70px;
}

.home-card h2 {
  text-transform: uppercase;
}

#work {
  height: 100vh;
  display: none;
}

.sci {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 100px;
  top: 50%;
}

.sci li {
  list-style: none;
}

.sci li a {
  position: relative;
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  text-decoration: none;
  border: 1px solid #fff;
  margin: 10px 0 0;
}

.sci li a:hover {
  background: #fff;
}

.sci li a img:hover {
  filter: invert(0);
}

.sci li a img {
  max-width: 38px;
  filter: invert(1);
}

@media (max-width: 767px) {
  header {
    padding: 20px 50px;
  }

  header .logo {
    margin-top: -10px;
  }

  .banner h2 {
    font-size: 1.6em;
  }

  .banner #home p,
  .banner #home a {
    font-size: 1em;
  }

  .banner.active {
    transform: translateX(-250px);
  }

  #home {
    justify-content: center;
  }

  .avatar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .home-card {
    margin: 0;
    flex-basis: 90%;
    margin-bottom: 20px;
    padding: 20px;
  }

  #navigation {
    width: 250px;
  }

  #navigation ul li a {
    font-size: 1.5em;
    margin: 5px 0;
  }

  .sci {
    position: absolute;
    bottom: 50px;
    right: initial;
    flex-direction: row;
    margin-left: 50px;
    top: auto;
  }

  .sci li a {
    margin: initial;
    margin-right: 10px;
  }
}

.scanlines {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 300;
  opacity: .3;
  will-change: opacity;
  animation: opacity 3s linear infinite;
}

.scanlines:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, .5) 51%);
  background-size: 100% 4px;
  will-change: background, background-size;
  animation: scanlines .2s linear infinite;
}

/* Animations */
@keyframes scanlines {
  from {
    background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, .5) 51%);
		background-size: 100% 4px;
  }
  to {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 50%, transparent 51%);
		background-size: 100% 4px;
  }
}